#
# This list is used by git-shortlog to fix a few botched name translations
# in the git archive, either because the author's full name was messed up
# and/or not always written the same way, making contributions from the
# same person appearing not to be so.
#


Gustaf Werlinder <gustaf_werlinder@hotmail.com> <gustaf_werlinder@hotmail.com> <gus.wer@hotmail.com> <guswer@guswer-E500-J-APE2V.(none)>
Markus Schutzer <markusschytzer@hotmail.com> <markusschytzer@hotmail.com>
Martin Augustsson <mckan91@gmail.com> <mckan91@gmail.com>
Patrik Thituson <thituson@gmail.com> <thituson@gmail.com> <thituson@ed-3358-13.studat.chalmers.se> <thituson@ed-3354-13.studat.chalmers.se>
